:root {
  background-color: blanchedalmond;
}

.App {
  text-align: center;
}

.screen{
  width: 300px;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
}
 
.screenItem{
  margin: 2px;
}

.keyboard{
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: center;
}

.numPad{
  width: 250px;
}

.opPad{
  width: 150px;
}

.keys{
  width: 60px;
  height: 50px;
  margin: 5px;
}

.numKey{
  background-color:rgb(245, 245, 147);

}

.opKeys{
  background-color: rgb(165, 245, 237);
}

.equalsKey{
  width: 130px;
  background-color: rgb(110, 255, 195);
}

.ceKey{
  width: 130px;
  background-color: rgb(255, 131, 131);
}